{
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "angular"
      }
    }
  ]
}
