// ALIGNMENTS
.center {
  align-self: center;
}

// LAYOUTS
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

  @include respond(phone) {
    min-width: 100%;
  }
}

// PADDINGS
.padding {
  &-top {
    &-tiny {
      padding-top: 0.75rem !important ;
    }

    &-small {
      padding-top: 1.5rem !important ;
    }

    &-medium {
      padding-top: 3rem !important ;
    }

    &-big {
      padding-top: 8rem !important ;
    }

    &-huge {
      padding-top: 10rem !important ;
    }
  }

  &-bottom {
    &-tiny {
      padding-bottom: 0.75rem !important ;
    }

    &-small {
      padding-bottom: 1.5rem !important ;
    }

    &-medium {
      padding-bottom: 3rem !important ;
    }

    &-big {
      padding-bottom: 8rem !important ;
    }

    &-huge {
      padding-bottom: 10rem !important ;
    }
  }

  &-right {
    &-tiny {
      padding-right: 0.75rem !important ;
    }

    &-small {
      padding-right: 1.5rem !important ;
    }

    &-medium {
      padding-right: 3rem !important ;
    }

    &-big {
      padding-right: 8rem !important ;
    }

    &-huge {
      padding-right: 10rem !important ;
    }
  }
}

// MARGINS
.margin {
  &-top {
    &-tiny {
      margin-top: 0.75rem !important ;
    }

    &-small {
      margin-top: 1.5rem !important ;
    }

    &-medium {
      margin-top: 3rem !important ;
    }

    &-big {
      margin-top: 8rem !important ;
    }

    &-huge {
      margin-top: 10rem !important ;
    }
  }

  &-bottom {
    &-tiny {
      margin-bottom: 0.75rem !important ;
    }

    &-small {
      margin-bottom: 1.5rem !important ;
    }

    &-medium {
      margin-bottom: 3rem !important ;
    }

    &-big {
      margin-bottom: 8rem !important ;
    }

    &-huge {
      margin-bottom: 10rem !important ;
    }
  }

  &-left {
    &-tiny {
      margin-left: 0.75rem !important ;
    }

    &-small {
      margin-left: 1.5rem !important ;
    }

    &-medium {
      margin-left: 3rem !important ;
    }

    &-big {
      margin-left: 8rem !important ;
    }

    &-huge {
      margin-left: 10rem !important ;
    }
  }

  &-right {
    &-tiny {
      margin-right: 0.75rem !important ;
    }

    &-small {
      margin-right: 1.5rem !important ;
    }

    &-medium {
      margin-right: 3rem !important ;
    }

    &-big {
      margin-right: 8rem !important ;
    }

    &-huge {
      margin-right: 10rem !important ;
    }
  }
}

// FONTS
.small-font {
  font-size: 1.2rem;
}

.italic {
  font-style: italic;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.capitalize-first::first-letter {
  text-transform: capitalize !important;
}

.capitalize-first .mat-button-wrapper {
  display: block;
}
