// HEIGHT WIDTH
@for $number from 0 to 101 {
  .w#{$number} {
    width: calc(1% * $number);
  }

  .h#{$number} {
    height: calc(1% * $number);
  }
}

// FONTS
.small-font {
  font-size: 1.2rem;
}

.italic {
  font-style: italic;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.capitalize-first::first-letter {
  text-transform: capitalize !important;
}

.capitalize-first .mat-button-wrapper {
  display: block;
}
