<div class="bg-grey-800 p-1 relative">
  <div class="feature align-items-center" *ngIf="feature.editMode">
    <input class="input mr-3" [(ngModel)]="feature.title" />
    <select class="select" [(ngModel)]="feature.status.id">
      <option [ngValue]="status.id" *ngFor="let status of statuses">
        {{ status.name }}
      </option>
    </select>
    <div class="flex align-items-center ml-auto" [@enterAnimation]>
      <button class="btn btn-icon color-ok" (click)="save()">
        <i class="material-icons">save</i>
      </button>
      <button class="btn btn-icon color-error" (click)="deleted.emit(true)">
        <i class="material-icons">delete</i>
      </button>
      <button class="btn btn-icon color-grey-300" (click)="cancel()">
        <i class="material-icons">cancel</i>
      </button>
    </div>
  </div>

  <div
    class="feature feature-non-edit align-items-center"
    *ngIf="!feature.editMode">
    <span class="px-4 py-3">{{ feature.title }}</span>
    <span class="px-4 py-3">{{ feature.status.name }}</span>
    <button
      [@enterAnimation]
      class="btn btn-icon color-grey-300 ml-auto"
      (click)="feature.editMode = !feature.editMode">
      <i class="material-icons">edit</i>
    </button>
  </div>
</div>
