.btn {
  &,
  &:link,
  &:visited {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    font-size: $default-font-size;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    transition: all 0.2s;
    position: relative;

    // Change for the <button> element
    border: none;
    cursor: pointer;
    // Change for the <div> element
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-grey-900, 0.2);

    &::after {
      transform: scaleX(1.1) scaleY(1.3);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-grey-900, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &-primary {
    background-color: $color-primary;
    color: $color-grey-100;

    &::after {
      background-color: $color-primary;
    }
  }

  &-secondary {
    background-color: $color-grey-100;
    color: $color-grey-900;

    &::after {
      background-color: $color-grey-100;
    }
  }

  &-success {
    background-color: $color-ok;
    color: $color-grey-100;

    &::after {
      background-color: $color-ok;
    }
  }

  &-info {
    background-color: $color-info;
    color: $color-grey-100;

    &::after {
      background-color: $color-info;
    }
  }

  &-error {
    background-color: $color-error;
    color: $color-grey-100;

    &::after {
      background-color: $color-error;
    }
  }

  &-warning {
    background-color: $color-warning;
    color: $color-grey-100;

    &::after {
      background-color: $color-warning;
    }
  }

  &-animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &-small {
    padding: 0.5rem 1rem;
  }

  &-icon {
    padding: 0.5rem 1rem;
  }

  &-round {
    padding: 0.75rem 0.75rem;
    border-radius: 90px;

    &:hover {
      &::after {
        border-radius: 90px;
      }
    }

    &::after {
      border-radius: 90px;
    }
  }
}

.btn-text {
  display: flex;
  justify-content: center;
  align-items: center;

  // Change for the <button> element
  border: none;
  cursor: pointer;
  // Change for the <div> element
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:link,
  &:visited {
    color: $color-primary;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    font-size: $default-font-size;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-grey-100;
    box-shadow: 0 1rem 2rem rgba($color-grey-900, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-grey-900, 0.15);
    transform: translateY(0);
  }
}
