@import "../../styles/variables";

.skeleton {
  position: relative;
  overflow: hidden;
  background: rgba($color: $color-grey-800, $alpha: 1);
}

.skeleton::after {
  content: "";
  animation: skeleton-animation 1.2s infinite;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-100%);
  z-index: 1;
  background: linear-gradient(
    90deg,
    rgba(24, 26, 27, 0),
    rgba(24, 26, 27, 0.4),
    rgba(24, 26, 27, 0)
  );
}

.skeleton.skeleton-circle {
  border-radius: 50%;
}

@keyframes skeleton-animation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
