<div class="container">
  <div class="actions">
    <div class="btn btn-icon btn-primary" (click)="addFeature()">
      <div class="material-icons">add</div>
    </div>
  </div>

  <div class="features"></div>
  <div
    class="feature margin-top-small"
    *ngFor="let feature of features | async">
    <input class="input" [(ngModel)]="feature.title" />
    <select class="select" [(ngModel)]="feature.status">
      <option [value]="i" *ngFor="let status of statusKeys(); let i = index">
        {{ status }}
      </option>
    </select>
    <app-rating
      class="margin-left-small"
      [(rating)]="feature.rating"></app-rating>
    <div
      class="btn-custom btn-custom-save margin-left-small"
      (click)="save(feature)">
      <div class="material-icons">save</div>
    </div>
    <div class="btn-custom btn-custom-delete" (click)="remove(feature)">
      <div class="material-icons">delete</div>
    </div>
  </div>
</div>
